@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

@import "tailwindcss";



@theme {
  --color-primary: #000814;
  --color-gray-light: #343a40;
  --color-red-primary: #f71915;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  button {
    cursor: pointer;
  }

  .font-serif {
    /* font-family: "Playfair Display", serif; */
    font-family: "Playfair Display", Georgia, serif;
  }
}

@layer utilities {
  @keyframes jump {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }

  .animate-jump {
    animation: jump 1s ease-in-out infinite;
  }

  /* optional: softer version */
  .animate-jump-soft {
    animation: jump 1.5s ease-in-out infinite;
  }
}
